html,body{
}

/* label color */
.input-field label {
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #333399;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.file-path input[type=text]:focus {
  border-bottom: 1px solid #333399;
  box-shadow: 0 1px 0 0 #333399;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #333399;
  box-shadow: 0 1px 0 0 #333399;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* styling the modal */
.modal{
	overflow: auto;
}

.modal .modal-content{
	overflow: auto;
}

.display_data_in_card{
	margin-bottom: 50px;
}


/* Styling images */
